
// > COLOR CLASSES

//
// >> Text Color
//
//
@each $color, $value in $colors {
  .text-#{$color} {
    color: $value;
  }
}

//
// >> Background Color
//
@each $color, $value in $colors {
  .bg-#{$color} {
    background-color: $value;
  }
}

//
// >>> Gray Background Color
//
@each $color, $value in $grays {
  $background: $value;
  $text-color: $black;
    
  // check for color contrast
  @if $color == "600" or $color == "700" or $color == "800" or $color == "900" {
    $text-color: $white;
  }

  .bg-gray-#{$color} {
    background-color: $background;
  }
}